.main {
    background: url(../../assets/nupatallblue.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-y: 60px;
}

button{
    background-color: #131E47;
}