.main {
    background: url(../../assets/nupatallblue.png);
    height: 100vh;
    width: 100vw;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-y: 60px;
}

button{
    background-color: #131E47;
}