.main {
    background: url(../../assets/nupatallblue.png); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-y: 100px;
    width: 100%;
    height: 100vh;
}

button{
    background-color: #131E47;
}