.holder {
    background: url(../../assets/nupatallblue.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-y: 60px;
}

.reset h2 {
    font-size: 40px;
    font-weight: 500;
    padding-top: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.reset h1 {
    font-weight: 500;
    padding-top: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.reset p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin-top: 3rem;
    padding: 0.7rem 17em 0.7rem 17rem;
    border-radius: 10px;
    background-color: #131E47;
    color: white;
}

.but button{
    margin-top: 3rem;
    padding: 1rem 17em 1rem 17rem;
    border-radius: 10px;
    background-color: #131E47;
    color: white;
}

.but{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.backtologin img{
    width: 20px;
    height: 20px;
}

.backtologin{
    padding-top: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}